<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Username and Password Credentials<</title>
</head>
<body>
<h1>Username and Password Credentials</h1>
            <form action="/login" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" ><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" ><br><br>
                <input type="submit" value="Submit">
            </form>
<h1>{{info}}</h1>
</body>
</html>